  <div class="container center-element">
    <div class="card-article">
      <%= photo(@article) %>
      <div class="">
        <h2 class="m-4"><%= @article.title %></h2>
        <h4><%= @article.subtitle %></h4>

      </div>
      <div>
        <p class="article-content"><%= @article.content %></p>
      </div>
    </div>
  </div>