.banner {
  background-image: url('background2.png');
  height: 150vh;
  background-size: cover;
  background-repeat: no-repeat;
  top: 0;
  z-index: -1;
  width: 100vw;
  padding-top: 20vh;
}

.banner-text {
  margin-left: 10%;
  h1 {
    font-family: $title;
    color: white;
    font-size: 25px;
    font-weight: 300;
    line-height: 1;
  }
}

.banner #logo {
  width: 300px;

}

@media screen and (max-width : 1024px) {
  .banner {
    height: 150vh;
    // background: transparent;
    flex-direction: column;
    justify-content: center;
    background-position: center;
  }
}

@media screen and (max-width : 736px) {
  .banner {
    height: 150vh;
    // background: transparent;
    flex-direction: column;
    justify-content: center;
    background-position: center;

  }
}


@media screen and (max-width : 667px) {
  .banner {
    height: 150vh;
    // background: transparent;
    flex-direction: column;
    justify-content: center;
    background-position: center;

  }
}

@media screen and (max-width : 568px) {
  .banner {
    height: 150vh;
    // background: transparent;
    flex-direction: column;
    justify-content: center;
    background-position: center;
  }
  
  .banner #logo {
    width: 200px;
  }

  .banner #header {
    font-size: 20px;
  }
}

@media screen and (max-width : 500px) {
  .banner #logo {
    width: 200px;
  }

  .banner #header {
    font-size: 20px;
  }
}
