.form-container {
  width: 400px;
  margin: 0 auto;

  .contact-form-text-area {
    background: black;
    color: white;
    padding: 10px;
    border: 1px solid white;
  }
}



@media (min-width: 1224px) {


}

@media (max-width: 1024px) {



}

@media (max-width: 768px) {

  
}

@media (max-width: 480px) {

  .form-container {
    width: 90vw;
  }
  
}