// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

@import "trix/dist/trix";
@import "actiontext";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  background-color: black;
  color: white;
  padding-bottom: 3vh;
}

h1, h2, h3 {
  margin: 0;
}

a {
  color: white;
  &:hover {
    color: $color-primary;

  }
}


.center-element {
  text-align: center;
  margin: 0 auto;
  width: 100%;
}

.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
}

.bordered {
  border: 2px solid $color-second;
}